.container{
    background-color: $color-deep-purple-2;
    display: flex;
    height: 40rem;
    width: 115rem;
    justify-content: space-between;
    border-radius: 1rem;
    overflow: hidden;
    @include absCenter;


    @include  response (Laptop-Big){
        flex-direction: column;
        width: 40rem;
        height: 70rem;
        border-radius: 0;
    }

    @include response (Laptop-Medium){
        height: 80rem;
    }

    @include response (Mobile){
        height: 100%;
        width: 100%;
    }


    &__left{
        align-content: space-around;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex: 0 1 40%;
        margin: 0 auto;
        text-align: center;



        & > * {
            @include  response (Laptop-Big){
                padding:1rem 5rem;

            }

            @include response (Laptop-Medium){
                padding: 1rem 3rem;
            }
        }

        &--header{
            font-size: 4rem;
            font-weight: 700;
            letter-spacing: 1.4px;

            @include  response (Laptop-Big){
                font-size: 3rem;
                margin-top: -8rem;

            }
            @include response (Laptop-Medium){
                font-size: 3rem;
                margin-top:0;

            }
        }

        &--paragraph{
            font-size: 1.6rem;
            text-transform: capitalize;
            line-height: 1.5;
            color:$color-light-grey;
            padding-right: 5rem;

            // @include response (Laptop-Medium){
            //     padding: 0;
            // }


        }

        &--databox{
            display: flex;
            justify-content: space-between;
            padding-right: 5rem;

            @include response (Laptop-Medium){
                flex-direction: column;

            }


            & > * {
                display: flex;
                flex-direction: column;
                align-items: center;
                line-height: 1.7;

                @include response (Laptop-Medium){
                    margin: 1rem 0;
                }
            }
        }
    }

    &__right{
        flex: 0 0 50%;
        background-image: linear-gradient($color-overlay),url(images/image-header-desktop.jpg);
        background-size: cover;


        @include  response (Laptop-Big){
            order: -1;
           flex: 0 1 45%;
        }

    }
}