*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;

    @include  response (Laptop-Big){
        font-size : 60%;
    }
}

body{
    font-family: 'Lato', sans-serif;
    background-color: $color-deep-purple-1;
    color: #fff;



}